body{
    background-color:#010100;
    padding: 0em;
    margin: 0em;
}
#Header{
    padding-top:7px;
}
#razerlogo {
    padding-left: 170px;
    height: 50px;
}
#storebutton {
    background-color: #010100;
    border: 0px;
    padding-top: 0 20px;
    color: #eeeee4;
    text-align: center;
    height: 50px;
    width: 70px;
}
.styled:hover{
    color: white;
}